// Here you can add other styles

.add-entity-button{
  margin-bottom: 10px;
}

.video-thumbnail{
  height: 100%;
  width: 100%;
  border: solid 1px gainsboro;
  margin-right: 10px;

}
.header-dropdown-user-info{
  font-size: 14px;
}

@include media-breakpoint-down(md){
  .header-dropdown-user-info{
    display: none;
  }
}

.available-slots-container{
  margin-bottom: 10px;
}

.filter-search{
  position: relative;
  z-index: 1;
  left: 0.5em !important;
  top: -28px !important;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;
}

.input-search{
  padding-left: 1.5em;
}

.button-add{
  width: 100% !important;
  margin-bottom: 10px;
}

.col-button{
  width: 5%;
}

.dropdown-add {
  width: 100% !important;
  .btn {
    width: 100% !important;
  }
  padding-bottom: 10px;
}

.search-container{
  padding-bottom: 10px;
}

.user-pic
{
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

.invalid-checkbox-list{
  border: 1px solid red;
  .invalid-tooltip{
    display: block;
  }
  .invalid-feedback{
    display: block;
  }
}


.sidebar-fixed .main, .sidebar-fixed .app-footer {
  margin-left: 0px !important;
}

.main .container-fluid {
  padding-top: 25px;
}

.img-wrapper {
  position: relative;
}

.img-overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-overlay2 {
  position: absolute;
  top: 1%;
  bottom: 0;
  left: 4%;
  right: 0;
  text-align: left;
}

.img-overlay2:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
}

.exercise-timer{
  font-weight: bold;
  font-size: x-large;
  margin-left: 20px;
  color: gainsboro;
  vertical-align: middle;
}

.device-serial{
  font-weight: bold;
  font-size: x-large;
  color: gainsboro;
  vertical-align: middle;
  float: right;
  margin-right: 5%;
  margin-top: 1%;
}

@media only screen and (max-width: 800px) {
  .device-serial{
    display: none;
  }
}

.img-overlay3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.img-overlay3:before {
  content: ' ';
  display: block;
  /* adjust 'height' to position overlay content vertically */
  height: 20%;
}

.exercise-timer-ready{
  font-weight: bold;
  font-size: 90pt;
  color: gainsboro;
}

.btn-player {
  border-radius: 50%;
  font-size: xx-large;
}

.device-registration-container{
  p{
    text-align: center;
  }
}


.btn-right{
  float: right;
  margin: 10px;
}

.exercise-option{
  background-color: white;
  border-color: white;
}

.btn-recording{
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
  font-size: x-large !important;
}

@-webkit-keyframes glowing {
  0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing {
  0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing {
  0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
}

.alert-dismissible{
  padding:  0 !important;
  p{
    text-align: center;
  }
}

.paragraph-link{
  word-wrap: break-word;
}
.share-button{
  margin-bottom: 2%;
}

.abort-button{
  margin-bottom: 2%;
  margin-left: 1%;
}

.copy-clipboard-button{
  margin-left: 1%;
}

.exercise-timer-danger{
  -webkit-animation: glowing2 1500ms infinite;
  -moz-animation: glowing2 1500ms infinite;
  -o-animation: glowing2 1500ms infinite;
  animation: glowing2 1500ms infinite; color: #B20000; box-shadow: 0 0 3px #B20000;
}

@-webkit-keyframes glowing2 {
  0% { color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
  50% { color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
  100% { color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
}

@-moz-keyframes glowing2 {
  0% { color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
  50% { color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
  100% { color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
}

@-o-keyframes glowing2 {
  0% { color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { color: #B20000; box-shadow: 0 0 3px #B20000; }
}

@keyframes glowing2 {
  0% { color: #B20000; box-shadow: 0 0 3px #B20000; }
  50% { color: #FF0000; box-shadow: 0 0 40px #FF0000; }
  100% { color: #B20000; box-shadow: 0 0 3px #B20000; }
}
